# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

Alpha80.ncb
Alpha80.suo
Alpha80.vcproj.TW.nuno.sung.user
Release/Alpha.exe
Release/Alpha.exe.intermediate.manifest
Release/Alpha.obj
Release/Alpha.pch
Release/Alpha.res
Release/BuildLog.htm
Release/mt.dep
Release/stdafx.obj
Release/vc80.idb